.header {
  padding: 8px;
  border-bottom: 1px solid $color_separate;
  background-color: #fff;

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-weight: 700;
    font-size: 20px;
    margin-left: 4px;
  }
}
