.card {
  position: relative;

  .bg {
    width: 100%;
  }

  .box {
    max-width: 100%;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    display: flex;
    align-items: center;
    top:20px;
    height: 70%;
  }

  .question {
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  }
}